<div style="margin: 30px">
  <h2>Stock Information</h2>
  <table>
    <tr>
      <th>S.no</th>
      <th>Stock</th>
      <th>Purchase Price</th>
      <th>Current Price</th>
      <th>Indicator</th>
    </tr>
    <tr *ngFor="let stock of items$; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ stock.name }}</td>
      <td>{{ stock.purchasePrice }}</td>
      <td>{{ stock.currentPrice }}</td>
      <td>{{ stock.indicator }}%
        <img width="15px" [src]="iconUrl(stock.indicator)">
      </td>
      <td><button (click)="deleteStock(i)">Delete stock</button></td>
    </tr>
  </table>
</div>